* {
    box-sizing: border-box;
}

#header {
    background: rgba(210,180,140);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    margin: 0;
    padding: 0.5rem;
    z-index: 50;
    
}

.logo {
    text-align: center;
    
}

.logo a {
    text-decoration: none;
    
}

.logo span {
    font-size: 1.5rem;
    color: black;
}

#header-img {
    width: 3rem;
}

.nav-links {
    display: none;
}

main {
    padding-top: 5rem;
}

.catch-phrase {
    width: 75%;
    text-align: center;
    margin: 0 auto;
}

.hero-image__container img {
    width: 100%;
}

.products {
    
}

.product {
    text-align: center;
    width: 80%;
    margin: 3rem auto;
    border: 1px solid rgba(210,180,140);
    
}

.product p {
    width: 75%;
    margin: 0 auto;
}

.product img {
    width: 75%;
    
}

.customer-says {
    text-align: center;
}

.testimonials {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.testimonial {
    width: 75%;
    margin: 2rem auto;
    border: 1px solid rgba(210,180,140);
    padding: 1rem;
}

.star {
    color: gold;
    font-size: 1.25rem;
    
}

.testimonial-name,
.testimonial-location {
    font-weight: bold;
}

.artisans-work {
    width: 80%;
    text-align: center;
    margin: 3rem auto;
}

#video {
    width: 100%;
}

#contact {
    width: 85%;
    margin: 3rem auto;
}



.coupon {
    border: 1px dashed black;
    text-align: center;
    font-weight: bold;
    padding: 1rem;
}

.coupon .savings {
    margin: 0 auto;

}

.discount {
    color: red;
}

label[for=email] {
    font-size: 1.5rem;
    font-weight: bold;
    display: block;
    margin: 1rem auto;
    text-align: center;
    width: 80%;
}

input {
    display: block;
    width: 100%;
    font-size: 1rem;
    margin-top: 0.5rem;
}

#submit {
    background: rgba(210,180,140);
    color: white;
    padding: 0.5rem;
    border-radius: 10px;
}

@media (min-width: 40rem) {

    #nav-bar {
        display: flex;
        align-items: end;
    }
    .logo {
        width: 50%;
        
        
    }

    .nav-links {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
        font-size: 1.5rem;
        width: 40%;
        justify-content: space-evenly;
        margin-left: auto;
        
        
    }

    .nav-link {
        text-decoration: none;
        color: black;
    }

    .nav-link:hover,
    .nav-link:active {
        
        border-bottom: 2px solid black;
    }

    .catch-phrase {
        width: 50%;
    }

    .hero-image__container {
        width: 75%;
        margin: 0 auto;
    }

    .product {
        width: 50%;
    }

    .testimonial {
        width: 50%;
    }

    #contact {
        width: 50%;
    }

    
}

@media (min-width: 48rem) {
    .products {
        display: flex;
        width: 80%;
        justify-content: space-between;
        margin: 0 auto;

        
    }

    .product {
        width: 30%;
    }

    .testimonials {
        flex-flow: row nowrap;
        width: 80%;
        margin: 0 auto;
    }

    .testimonial {
        min-height: 18rem;
        width: 30%;

    }
}









